<div class="page_container">
  <div id="store_items">
    {% for product in collection.products %}
      <div class="item_tile">{% render 'product_item' | product: product, class: 'store_item' %}</div>
    {% endfor %}
  </div>
</div>