{% for page in pages %}
  {% if canonical_url contains "about" and page.title == "About" %}
    <h1>{{ page.title }}</h1><br />
    {{ page.content }}
  {% endif %}
  {% if canonical_url contains "contact" and page.title == "Contact" %}
    <h1>{{ page.title }}</h1><br />
    {{ page.content }}
    do de do!
  {% endif %}
{% endfor %}
